<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <%= form_for Todo.new do |f| %>
      <%= f.text_field :title, id: "new-todo", placeholder: "What needs to be done?", autofocus: true %>
    <% end %>
  </header>
  <% if @todos.any? %>
    <section id="main">
      <%= form_tag update_many_todos_path, method: :put do %>
        <% @todos.map do |todo| %>
          <%= hidden_field_tag "ids[]", todo.id %>
        <% end %>
        <%= check_box :todo, :is_completed, checked: @todos.all?(&:is_completed), id: "toggle-all", "data-behavior": "submit_on_check" %>
        <label for="toggle-all">Mark all as complete</label>
      <% end %>
      <ul id="todo-list">
        <% @todos.each do |todo| %>
          <li class="<%= 'completed' if todo.is_completed %>" data-behavior="toggle_form_on_dblclick">
            <div class="view">
              <%= form_for todo do |f| %>
                <%= f.check_box :is_completed, class: "toggle", "data-behavior": "submit_on_check" %>
              <% end %>
              <label class="toggle-me"><%= todo.title %></label>

              <button class="destroy"></button>
            </div>
            <%= form_for todo, html: { class: "toggle-me", style: "display: none" } do |f|%>
              <%= f.text_field :title, class: "edit" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
    <footer id="footer">
      <span id="todo-count"></span>
      <ul id="filters">
        <li>
          <a href="#/" class="selected">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button id="clear-completed">Clear completed</button>
    </footer>
  <% end %>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="http://twitter.com/nateberkopec">Nate Berkopec</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
